function Main.main 1
push constant 12
push constant 0
push constant 16
push constant 4
push constant 0
call List.new 5
pop local 0
push constant 20
push constant 0
push constant 24
push constant 4
push constant 16
push constant 0
push constant 20
push constant 4
push local 0
call List.new 5
call List.new 5
pop local 0
push constant 28
push constant 0
push constant 32
push constant 4
push constant 24
push constant 0
push constant 28
push constant 4
push local 0
call List.new 5
call List.new 5
pop local 0
push constant 28
push constant 8
push constant 32
push constant 12
push constant 28
push constant 4
push constant 32
push constant 8
push local 0
call List.new 5
call List.new 5
pop local 0
push constant 28
push constant 16
push constant 32
push constant 20
push constant 28
push constant 12
push constant 32
push constant 16
push local 0
call List.new 5
call List.new 5
pop local 0
push constant 20
push constant 16
push constant 24
push constant 20
push constant 24
push constant 16
push constant 28
push constant 20
push local 0
call List.new 5
call List.new 5
pop local 0
push constant 20
push constant 24
push constant 24
push constant 28
push constant 20
push constant 20
push constant 24
push constant 24
push local 0
call List.new 5
call List.new 5
pop local 0
push local 0
call List.print 1
pop temp 0
push constant 0
push constant 251
push constant 4
push constant 255
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 0
push constant 4
push constant 4
call Screen.drawRectangle 4
pop temp 0
push constant 507
push constant 251
push constant 511
push constant 255
call Screen.drawRectangle 4
pop temp 0
push local 0
call List.dispose 1
pop temp 0
push constant 0
return
